<h1>INSERTAR NUEVA CAMPAÑA</h1>

<button mat-raised-button color="primary" (click)="insertCampania()">Insertar Campaña</button>

<h1>Reporte de Mensajes Activos</h1>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Meses</mat-label>
      <mat-select [(ngModel)]="selectedValue" required matNativeControl required>
        <mat-option *ngFor="let mes of meses" [value]="mes.id">
          {{mes.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <mat-slide-toggle [(ngModel)]="filterClient">Filtro por Nombre de Cliente (Opcional)</mat-slide-toggle>
  <div *ngIf="filterClient">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Nombre del Cliente</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <br>
  <br>
  <div>
    <button mat-raised-button color="primary" [disabled]="selectedValue===null?true:false" (click)="ListMessage()">Buscar</button>
  </div>

<div id="donutchart-container" style="width: 900px; height: 500px; margin-top: 20px;">
    <div id="donutchart"></div>
</div>